.footer-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--secondary-background-color);
}

.column {
    /*flex: 1;*/
}

.column-title,
.column-link,
.column-1 p {
    font-size: 1.1rem;
    font-weight: 200;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.column-title {
    color: #6f6f6f;
    margin-bottom: 0 ;
}

.column-link {
    font-weight: 300 !important;
}

/*.column-1 {*/
/*    width: 250px;*/
/*}*/

.column-1 img {
    height: 45px;
    margin-bottom: 0;
}

.column-5 a {
    align-self: start;
    margin-bottom: 20px;
}

.column-5 .contact-phone {
    display: flex;
    align-items: flex-end;
}

.column-5 .contact-phone svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.column-5 .contact-phone svg path {
    stroke: var(--primary-accent-color);
}

.socials-container p {
    margin-bottom: 5px;
}

.socials-icons {
    display: flex;
    gap: 10px;
}

.socials-icons svg {
    width: 25px;
    fill: var(--secondary-text-color);
    transition: fill .1s ease-in-out;
}

.socials-icons svg:hover {
    fill: var(--primary-accent-color);
}

.footer-copyrights,
.footer-copyrights a {
    text-align: center;
    margin-top: 25px;
    color: #737373;
    font-weight: 200;
    font-size: 1.1rem;
}

.footer-main {
    padding: 80px 30px 30px 30px !important;
}

@media (max-width: 1000px) {
    .footer-nav {
        flex-direction: column;
        row-gap: 60px;
        align-items: center;
    }

    .flex-column {
        align-items: center;
        row-gap: 15px;
    }

    .column-1 {
        margin-right: 0px;
    }

    .column-1 p {
        text-align: center;
        max-width: 400px;
    }

    .column-5 a {
        align-self: center;
    }
}