:root {
    --primary-accent-color: #d20d0d;
    --secondary-accent-color: #d55050;
    --tertiary-accent-color: #d36e6e;
    --tertiary-accent-color-opacity: rgba(211, 110, 110, 0.8);

    --primary-background-color: #fff;
    --secondary-background-color: #f8f8f8;

    --primary-text-color: #404040;
    --secondary-text-color: #656565;
    --tertiary-text-color: #a1a1a1;
    --white: rgb(255, 255, 255);
    --black: #1f1f1f;

    --dark-grey: #7e7e7e;
    --medium-grey: #d2d2d2;
    --light-grey: #f4f5f6;

    --border-radius-primary: 0.75rem;
    --border-radius-secondary: 0.5rem;
    --box-shadow-main: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.04) 0px 2px 4px -1px, rgba(0, 0, 0, 0.08) 0px -5px 20px 2px;
    background-color: var(--primary-background-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--primary-text-color);
}

section .section-inner,
main .section-inner {
    max-width: 1200px;
    margin: 0 auto;
}

.hero-section-padding {
    padding: 110px 20px;
}

.secondary-section-padding {
    padding: 90px 20px;
}

.inverted-section {
    background: var(--black);
}

.inverted-section p {
    color: var(--white);
}

.inverted-section .image-gallery-card p {
    color: var(--black);
}

.inverted-section h2 {
    color: var(--white);
}

.support-page-text-block,
.silo-page-text-block,
.blog-page-text-block,
.about-us-text-block {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.silo-page-hero,
.support-page-hero,
.about-us-page-hero,
.blog-page-hero {
    background: linear-gradient(-45deg, var(--primary-accent-color), var(--secondary-accent-color));
}

.silo-page-hero h1,
.silo-page-hero p,
.support-page-hero h1,
.support-page-hero p,
.blog-page-hero h1,
.blog-page-hero p,
.about-us-page-hero h1,
.about-us-page-hero p {
    color: var(--white);
}

li,
a {
    list-style: none;
    text-decoration: none;
}

a {
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 25px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 25px;
}

h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.4rem;
    font-weight: 600;
    /*margin-bottom: 25px;*/
}

p, a, li {
    font-weight: 300;
    font-size: 1.15rem;
    line-height: 1.5;
}

p {
    margin-bottom: 25px;
}

p a {
    color: var(--primary-accent-color);
    font-style: italic;
}

.support-page-hero p a,
.inverted-section p a{
    color: white;
    font-weight: 600;
    font-style: italic;
}

p a svg{
    fill: var(--primary-accent-color);
    height: 15px;
}

.support-page-hero p a svg,
.inverted-section p a svg{
    fill: var(--white);
    height: 15px;
}

strong {
    font-weight: 700;
}

.inverted-section strong,
.silo-page-hero strong,
.support-page-hero strong{
    color: var(--white);
}

.numbered-list-card strong {
    color: var(--primary-text-color);
}

.justified-text {
    text-align: justify;
}

.btn-primary, .btn-secondary {
    padding: 12px 30px;
    border-radius: var(--border-radius-secondary);
    font-size: 1.2rem;
    font-weight: 700;
}

.btn-primary {
    background: var(--primary-accent-color);
    color: var(--white);
}

.btn-secondary {
    background: var(--white);
    color: var(--primary-text-color);
}

.btn-tertiary {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-accent-color);
}

button {
    cursor: pointer;
}

.text-highlight {
    position: relative;
}

.text-highlight::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 40px;
    width: 110%;
    z-index: -1;
    background-color: var(--primary-accent-color);
    opacity: .7;
}

.background-image {
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -10;
    object-fit: contain;
}

.numbered-list-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    column-gap: 50px;
    row-gap: 80px;
    margin: 80px 0 70px 0;
}

.numbered-list-card {
    flex-basis: 300px;
    height: auto;
    padding: 60px 30px 30px 30px;
    background-color: var(--light-grey);
    box-shadow: var(--box-shadow-main);
    border-radius: var(--border-radius-primary);
    position: relative;
    text-align: center;
}

.numbered-list-card img {
    width: calc(100% - 10px);
    height: auto;
    border-radius: var(--border-radius-primary);
}

/*.numbered-list-card svg {*/
/*    width: 120px;*/
/*    fill: var(--primary-accent-color);*/
/*}*/

.inverted-section .numbered-list-card p,
.inverted-section .numbered-list-card p a {
    color: var(--primary-text-color);
}

.inverted-section .numbered-list-card p a svg {
    fill: var(--primary-text-color);
}

.numbered-list-card::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--primary-accent-color);
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.numbered-list-card:nth-child(1)::before {
    content: "1";
}

.numbered-list-card:nth-child(2)::before {
    content: "2";
}

.numbered-list-card:nth-child(3)::before {
    content: "3";
}

.numbered-list-card:nth-child(4)::before {
    content: "4";
}

.numbered-list-card:nth-child(5)::before {
    content: "5";
}

.numbered-list-card:nth-child(6)::before {
    content: "6";
}

.bulleted-list-cards {
    max-width: 1000px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bulleted-list-card {
    padding: 60px 40px;
    border: 0 solid var(--medium-grey);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inverted-section .bulleted-list-card {
    border-color: var(--light-grey);
}

.bulleted-list-card p {
    margin-bottom: 0;
}

.bulleted-list-card a {
    color: var(--primary-accent-color);
    cursor: pointer;
    font-style: italic;
}

.bulleted-list-card svg {
    width: 60px;
    fill: var(--primary-accent-color);
    margin-bottom: 30px;
}

.bulleted-list-card p a svg {
    width: auto;
    margin-bottom: 0;
}

.bulleted-list-card-6:nth-child(1),
.bulleted-list-card-6:nth-child(2) {
    border-width: 0 1px 1px 0;
}

.bulleted-list-card-6:nth-child(3) {
    border-width: 0 0 1px 0;
}

.bulleted-list-card-6:nth-child(4),
.bulleted-list-card-6:nth-child(5) {
    border-width: 0 1px 0 0;
}

.bulleted-list-card-3:nth-child(1),
.bulleted-list-card-3:nth-child(2) {
    border-width: 0 1px 0 0;
}


.about-us-values-container {
    background-color: var(--light-grey);
}

.hidden {
    display: none;
}

@media (max-width: 700px) {
    section .section-inner {
        padding: 70px 20px;
    }

    .btn-primary {
        padding: 8px 15px;
        font-size: 1.1rem;
        font-weight: 500;
    }
}

@media (max-width: 800px) {
    .numbered-list-cards {
        flex-direction: column;
        align-items: center;
        gap: 70px;
        flex-basis: 0;
        max-width: 300px;
        margin: 80px auto 70px auto;
    }

    .bulleted-list-cards {
        grid-template-columns: 1fr;
    }

    .bulleted-list-card-3:nth-child(1),
    .bulleted-list-card-3:nth-child(2),
    .bulleted-list-card-6:nth-child(1),
    .bulleted-list-card-6:nth-child(2),
    .bulleted-list-card-6:nth-child(3),
    .bulleted-list-card-6:nth-child(4),
    .bulleted-list-card-6:nth-child(5) {
        border-width: 0 0 1px 0;
    }
}
