/* -- Hero section -- */
.home-hero-container {
    z-index: 0;
    display: flex;
    align-items: center;
    position: relative;
}

/*.home-hero-container::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    z-index: -1;*/
/*    background-image: url("https://res.cloudinary.com/dg8awj55m/image/upload/v1684328207/website-lending/electricien-nimes/images/electricien-nimes-background-image.webp");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    opacity: 0.15;*/
/*}*/

.home-hero-main {
    display: flex;
    align-items: center;
}

.home-hero-main .home-hero-text {
    flex: 1 1 0;
    padding: 30px;
}

.home-hero-main .hero-image {
    flex: 1 1 0;
}


.home-hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.home-hero-text p {
    margin-bottom: 50px;
    font-size: 1.2rem;
    line-height: 30px;

}

/* -- About us section -- */
.home-about-us-container {
    background-color: var(--primary-accent-color);
}

.home-about-us-text {
    text-align: center;
    max-width: 800px !important;
    margin: 0 auto;
}

.home-about-us-text h2,
.home-about-us-text p {
    color: white;
}

.home-about-us-text p {
    margin-bottom: 50px;
    font-size: 1.25rem;
    line-height: 1.5;
}

.home-about-us-text p:last-child {
    margin-bottom: 0;
}

/* -- Services section -- */
.home-services-container {
    height: fit-content;
}

.home-services-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-services-main h2 {
    text-align: center;
}

.home-services-text {
    text-align: center;
    margin-bottom: 40px;
}

.home-services-text p {
    max-width: 700px;
}

.home-services-grid {
    position: relative;
    max-width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    /*place-items: center;*/
    grid-gap: 30px;
}


.home-services-service-container {
    position: relative;
    /*background-color: white;*/
    border-radius: .5rem;
    background-color: var(--secondary-background-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.04) 0px 2px 4px -1px;
    z-index: 1;
    overflow: hidden;
}

.home-services-service {
    padding: 45px;
}


/*.home-services-service::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    z-index: -1;*/
/*    background-image: url("https://res.cloudinary.com/dg8awj55m/image/upload/v1684328207/website-lending/electricien-nimes/images/electricien-nimes-background-image.webp");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    opacity: 0.15;*/
/*}*/

.home-services-service-container:nth-child(even) {
    transform: translateY(150px);
}

.home-services-service-icon svg {
    width: 60px;
    height: 60px;
    fill: var(--primary-accent-color);
    margin-bottom: 25px;
}

.home-services-service-container:nth-child(2) .home-services-service-icon svg {
    fill: white;
    stroke: var(--primary-accent-color);
}

.home-services-service-container h4 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.home-services-service-container p {
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
}

.home-services-service-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-services-service-btn svg {
    fill: var(--primary-accent-color);
    width: 30px;
}

/* -- FAQ section -- */
.home-faq-container {
    /*background-color: var(--tertiary-accent-color);*/
}

.home-faq-main {
    /*max-width: 900px !important;*/
    display: flex;
    gap: 60px;
}

.home-faq-text,
.home-faq-list {
    flex-basis: 0;
    flex-grow: 4;
}

.home-faq-list {
    flex-grow: 6;
}

.home-faq-text h2 {
    margin-bottom: 25px;
}

.home-faq-text p {
    margin-bottom: 25px;
}


.home-faq-list h2 {
    color: var(--primary-accent-color);
    font-size: 2rem;
    margin-bottom: 30px;
}

.home-faq-list li {
    border-bottom: 1px solid var(--primary-accent-color);
    margin-bottom: 30px;
}

.home-faq-list .home-faq-question {
    color: var(--primary-text-color);
    font-weight: 600;
    position: relative;
    cursor: pointer;
    padding: 20px 0;
    transition: color 0.5s ease;
}

.home-faq-list .home-faq-answer {
    color: var(--dark-grey);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.home-faq-list li.active .home-faq-answer {
    max-height: 1000px !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.home-faq-list li .active .home-faq-question {
    color: var(--primary-accent-color) !important;
    transition: color 0.5s ease;
}

.home-faq-list .plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 21px;
    left: -40px;
    top: 50%;
    z-index: 2;
}

.home-faq-list .plus-minus-toggle:before,
.home-faq-list .plus-minus-toggle:after {
    background: var(--dark-grey);
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
    transition: transform 500ms ease;
}

.home-faq-list .plus-minus-toggle:after {
    transform-origin: center;
}

.home-faq-list .plus-minus-toggle.collapsed:after {
    transform: rotate(90deg);
}

.home-faq-list .plus-minus-toggle.collapsed:before {
    transform: rotate(180deg);
}


/* -- Mobile responsiveness -- */
@media (max-width: 1000px) {
    .home-faq-main {
        flex-direction: column;
        text-align: center;
    }

    .home-faq-list li {
        margin-left: 40px;
        text-align: left;
    }
}

@media (max-width: 800px) {
    .home-hero-container {
        height: auto;
        display: block;
    }

    .home-hero-main {
        flex-direction: column-reverse;
    }

    .home-hero-main .hero-image {
        padding: 0 20px;
    }

    .home-hero-main .hero-image img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .home-services-grid {
        grid-template-columns: 1fr;
        max-width: 100%;
        grid-auto-rows: auto;
    }

    .home-services-service-container {
        padding: 0;
    }

    .home-services-service-container:nth-child(even) {
        transform: translateY(0px);
    }

    .home-services-service-container p {
        font-size: 1.1rem;
    }

    .home-services-service-btn {
        text-align: center;
        flex-direction: column;

    }
}